﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div align="center">
    <a href="@Url.Action("Create ","Item")">
        Add New Customer
    </a>
    <br /> <br />
    <table cellpadding="2" class="table" cellspacing="2" border="1">
        <tr class="btn-primary">
            <th>ItemCode</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.ItemCodeList)
            {
            <tr class="btn-success">

                <td>
                    @item.ITCODE</td> 
                <td>
                    @item.ITDESC
                </td>
                <td>
                    @item.ITRATE
                </td>

            </tr>
        }
    </table>
</div>
